.navbar {
    background-color: #00ff2a;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 30px;
    padding: 8px 5px 8px 5px;
}

.navbar-in {
    background-color: #fff;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 30px;
    box-shadow: inset 0 0 0 3px #00ff2a, 
                0 5px 5px #0004;
    padding: 8px 5px 10px 5px;
}

.start {
	text-align: center;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.img{
	background: #c7b39b url(images/bg.jpg);
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
	color: #000;
	padding: 5px 50px 5px 10px;
	text-decoration: none;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
	color: #000;
	text-decoration: none;
}

.q_a {
	background-color: #fff;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 20px;
    box-shadow: inset 0 0 0 3px #00ff2a, 
                0 5px 5px #0004;
    padding: 60px;
	width: 600px;
    height: 30px;
    margin: 20px;
	margin-left: auto;
    margin-right: auto;
}
.question {
	
    margin-top: -50px;


}
.answer {
	
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	width: 700px;
    height: 60px;
	border-radius: 10px;
	position: relative; 
	left: 50%;
	margin-left: -350px;
	margin-bottom: 50px;
	
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
	width: 700px;
    height: 60px;
	border-radius: 20px;
	position: relative; 
	left: 50%;
	margin-left: -350px;
}