{% extends "layout.html" %}
{% block title %}
quedrop
{% endblock %}
{% block content %}
    {% if answer and answer.status == 'Checking' %}
        <div class="start">
			<h1 id="title">{{ answer.title }} {{answer.status}}</h1>
			<p id="description">{{ answer.description }}</p>
			<h2> QUESTIONS: </h2>
		</div>
		<form id="check-form" action="post" method="POST" autocomplete="off">
			{% for index in range(answer.questions_count) %}
				<div class = q_a> 
					<div class = "question">
						<p> QUESTION {{ index+1 }} </p>
						<h3 id="question_{{index}}"> {{ answer.questions[index].text }} </h3>
					</div>
					<div class ="answer">
                        <p id="answer_{{index}}">{{ answer.questions[index].answer }}</p>
					</div>
                    <div class="check">
                        <input type="checkbox" id="is_correct_{{index}}" 
							name="is_correct_{{index}}" data-question="question_{{index}}" data-answer="answer_{{index}}"/>
                        <label for="is_correct_{{index}}">Correct</label>
                    </div>
				</div>
			{% endfor %}
			<input type="submit" value="Check answers"/>
		</form>
    {% else %}
		{% if answer.status != 'Checking' %}
        <span> This answers list is unavailable for checking. </span>
		{% else %}
        <span> This answer list could not be found. </span>
		{% endif %}
	{% endif %}
{% endblock %}

{% block body_scripts %}
<script src="{{url_for('static', filename='user-answer-script.js')}}"></script>
{% endblock %}